.home-head-container {
    display: flex;
    top:0;
    justify-content: end;
    height: 8em;
    background-color: rgba(0, 0, 0, 0.633);
    position: fixed;
    width: 100%;
}
.head-t-div{
    display: flex;
    color: red;
    align-items: center;
    width: 30%;
}
.head-title {
    font-size: 15px;
}
.nav-homebar {
    display: inline-block;
    text-align: right;
    width: 60%;

}
.nav-homebar ul{
    display: inline-block;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-right: 20px;
    text-align: center;
}
.nav-homebar ul li{
    display: inline-block;
 
}
.nav-homebar ul li a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    padding: 0.3em;
}
.nav-homebar ul li a:hover {
    background-color: rgba(44, 117, 137, 0.599);
    color:rgb(116, 248, 255);
    border-radius: 30%;
}
@media (min-width: 768px) {
    .head-title {
        font-size: 22px;
    }
    .nav-homebar ul{

        margin-right: 20px;
    }
    .nav-homebar ul li a {
        font-size: 20px;
    }
}
@media (min-width: 1024px) {
    .head-title {
        font-size: 22px;
     }
    .nav-homebar ul{
        margin-right: 80px;
    }
    .nav-homebar ul li a {
        font-size: 20px;
    }
}